[Unit]
Description=Helm
After=network-online.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/helm shell --port 9090
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target